 *{
    margin: 0;
     padding-left: 0px;
    background-color:rgb(200, 0, 0);
    display: flex;
justify-content: space-around;
 }
 p{
    width: auto;
    height: auto;
    background-color: rgb(184, 151, 19);
    color: white;
margin: 10px;
text-align: center;
}